.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #242526;
  gap: 1rem;
}

.post > img {
  width: 100%;
  /* max-height: 38rem; */
  object-fit: cover;
  border-radius: 0.5rem;
}

.postReact {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
.nameImage {
  display: flex;
}
.profileImage {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  margin-left: 10px;
  margin-top: 12px;
}
